<div class="container">
    <div [ngClass]="{'images-row': !(isHandset$ | async), 'images-col': (isHandset$ | async)}">
        <div class="image-area">
            <div class="image-area-container">
                <div class="image-container">
                    <p>Hidden image</p>
                </div>
                <div class="buttons-row">
                    <input type="file" #hiddenFileInput (change)="onHiddenFileChange($event)" style="display: none;">
                    <button class="secondary-btn" type="button" (click)="onHiddenFileSelect()">Choose Image</button>
                    <button class="tertiary-btn" type="button" (click)="resetHiddenFile()">Reset Selection</button>
                    <p>{{hiddenFile == null ? '' : hiddenFile.name}}</p>
                </div>
            </div>
        </div>
        <div class="image-area">
            <div class="image-area-container">
                <div class="image-container">
                    <p>Background image</p>
                </div>
                <div class="buttons-row">
                    <button class="secondary-btn" [disabled]="true" type="button">Choose Image</button>
                    <button class="tertiary-btn" type="button">Reset Selection</button>
                </div>
            </div>
        </div>
    </div>
    <hr class="custom-divider">
    <div [ngClass]="{'image-data-row': !(isHandset$ | async), 'image-data-col': (isHandset$ | async)}">
        <div class="image-data-area">
            <div class="image-data-container">
                <p class="fw-semibold fs-6 m-0 lh-35">Image to be hidden</p>
                <div class="d-flex flex-row align-items-center justify-content-between w-100">
                    <p class="m-0 lh-35 fs-6">Resolution</p>
                    <p class="m-0 lh-35 fw-medium fs-6">1260 × 774 pixels</p>
                </div>
                <div class="d-flex flex-row align-items-center justify-content-between w-100">
                    <p class="m-0 lh-35 fs-6">Size</p>
                    <p class="m-0 lh-35 fw-medium fs-6">1.4 MB</p>
                </div>
                <hr class="custom-divider">
                <p class="fw-semibold fs-6 m-0 lh-35">Background hidden</p>
                <div class="d-flex flex-row align-items-center justify-content-between w-100">
                    <p class="m-0 lh-35 fs-6">Resolution</p>
                    <p class="m-0 lh-35 fw-medium fs-6">1260 × 774 pixels</p>
                </div>
                <div class="d-flex flex-row align-items-center justify-content-between w-100">
                    <p class="m-0 lh-35 fs-6">Size</p>
                    <p class="m-0 lh-35 fw-medium fs-6">1.4 MB</p>
                </div>
                <div class="d-flex flex-row-reverse w-100 pt-2">
                    <button class="primary-btn" type="button">Execute Selection</button>
                </div>
            </div>
        </div>
        <div class="image-data-area">
            <div class="image-data-container">
                
                <p class="fw-semibold fs-6 m-0 lh-35">Result Image</p>
                <div class="d-flex flex-row align-items-center justify-content-between w-100">
                    <p class="m-0 lh-35 fs-6">Resolution</p>
                    <p class="m-0 lh-35 fw-medium fs-6">1260 × 774 pixels</p>
                </div>
                <div class="d-flex flex-row-reverse w-100 pt-2">
                    <button class="primary-btn" type="button">Download Image</button>
                </div>
            </div>
        </div>
    </div>
</div>