<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar><img src="https://cdn.jsdelivr.net/gh/rishi-singh26/stegno/public/crocodile.png" width="40" height="40" alt="Stegno app icon consisting of a white background with a cartoon drawing of a green dianosaur">&nbsp;&nbsp;Stegno</mat-toolbar>
        <mat-nav-list>
            @if ((isHandset$ | async) === false) {
            <a mat-list-item routerLink="/hide-image">Hide Image</a>
            <a mat-list-item routerLink="/extract-image">Extract Image</a>
            <a mat-list-item routerLink="/hide-text">Hide Text</a>
            <a mat-list-item routerLink="/extract-text">Extract Text</a>
            }
            @else {
            <a (click)="drawer.toggle()" mat-list-item routerLink="/hide-image">Hide Image</a>
            <a (click)="drawer.toggle()" mat-list-item routerLink="/extract-image">Extract Image</a>
            <a (click)="drawer.toggle()" mat-list-item routerLink="/hide-text">Hide Text</a>
            <a (click)="drawer.toggle()" mat-list-item routerLink="/extract-text">Extract Text</a>
            }
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            @if (isHandset$ | async) {
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            }
            <span>{{getPageTitle()}}</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>