.sidenav-container.mat-drawer-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.sidenav {
    width: 300px;
    border-radius: 0px;
    border: none;

    .mat-toolbar {
        background: inherit;
        width: 300px;
    }

    .mat-drawer-inner-container {
        border-radius: 0px;
    }
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-mdc-nav-list {
    margin: 0px, 10px;
    padding: 10px;

    .mat-mdc-list-item {
        border-radius: 6px;

        &:hover {
            background-color: #F1F5F9;
        }
    }
}