/* You can add global styles to this file, and also import other style files */
/* Please keep this css code to improve the font quality */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    box-sizing: content-box;
    margin: 0;
}

html {
    min-width: 320px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.lh-35 {
    line-height: 35px !important;
}

.custom-divider {
    border: none; /* Removes the default border */
    height: 1px; /* Sets the height of the divider */
    background-color: #d4d4d4; /* Sets the color of the divider */
    width: 100%;
    margin: 0px;
    padding: 0px;
}

button {
    border-radius: 6px;
    padding: 8px 16px;
    border: none;
    margin: 0px 3px;

    &.primary-btn {
        background-color: #000000;
        color: #ffffff;

        &:hover {
            background-color: #404040;
            cursor: pointer;
        }
    }

    &.secondary-btn {
        background-color: #E2E8F0;
        color: #0f172a;
    }

    &.tertiary-btn {
        background-color: transparent;
        color: #0f172a;
    }

    &:hover {
        background-color: #cacfd6;
        cursor: pointer;
    }

    &:disabled {
        cursor: not-allowed !important;
        background-color: #232323;
    }
}